.text{
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
}

.avatar{
    margin: 20px auto;
}

.isActive{
    color: green;
}
.isRetired{
    color: red;
}